body{
	width:100%;
	height:100%;
	margin:0;
}
.container{
	width:100%;
	height:100%;
}

h1{
	position:absolute;
	font-family: helvetica;
	font-size: 5.9rem;
	z-index: -100;
}

.wave{
	position:relative;
	width:50%;
	height:200px;
	/*background-color:  #cc00ff;*/
	float:left;
}

.wave2{
	position:relative;
	width:20%;
	height:20%;
	float:left;

}


.row{
	position:relative;
	width:100%;
	height:auto;
}

#rotate{
	transform: rotate(180deg);
}



#waveShrink{
	position: absolute;
	margin-top: 10px;
	margin-left:10%;
	width: 90%;
	height: 90%;
	opacity:.95;
	background-color:black;

	
}

#waveGrow{
	position: absolute;
	margin-top: -10px;
	margin-left:10%;
	width: 110%;
	height: 110%;
	opacity:.95;
	background-color:black;

	
}

.wave2 #waveSec{
	position: absolute;
	margin-top: 10%;
	width: 20%;
	height: 55%;
	opacity:.6;


}

